In [32]:
import plotly.express as px
import pandas as pd
import glob

In [35]:
def load_files(file_list):
    df_hist = pd.DataFrame()
    df_samp = pd.DataFrame()

    for f in file_list:
        if len(f.split("/")[-1].split('.')[0].split('_')) > 3:
            continue
        _, typ, cat = f.split("/")[-1].split('.')[0].split('_')
        df = pd.read_csv(f)
        df.columns.values[0] = cat

        if typ == "history":
            df_hist = pd.concat([df_hist, df], axis=1)
        elif typ == "sampled":
            df_samp = pd.concat([df_samp, df], axis=1)
            
    return df_hist, df_samp

In [34]:
file_list = (glob.glob("results/results/*"))

In [36]:
df_hist, df_samp = load_files(file_list)

In [38]:
df_samp

          ev54  baseline
0     0.000000  0.000000
1     0.000000  0.000000
2     0.000000  0.000000
3     0.000000  0.000000
4     0.000000  0.000000
...        ...       ...
7194  1.603443  1.771269
7195  1.603450  1.771379
7196  1.604957  1.771190
7197  1.604261  1.770099
7198  1.603866  1.769010

[7199 rows x 2 columns]

In [26]:


df

          ev54
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
...        ...
7194  1.603443
7195  1.603450
7196  1.604957
7197  1.604261
7198  1.603866

[7199 rows x 1 columns]